In [1]:
import pandas as pd

In [2]:
data = pd.DataFrame([]) # create dataframe by list

In [3]:
data

Empty DataFrame
Columns: []
Index: []

In [4]:
data = pd.DataFrame({}) #  create dataframe by dict

In [5]:
data

Empty DataFrame
Columns: []
Index: []

In [6]:
data = pd.DataFrame({"":[]}) # dict of list

In [7]:
data

Empty DataFrame
Columns: []
Index: []

In [8]:
data = pd.DataFrame([[],[],[]]) # list of list

In [9]:
data

Empty DataFrame
Columns: []
Index: [0, 1, 2]

In [11]:
data = pd.DataFrame({"First":pd.Series([1,2,3,4,5])}) # dict from ndim series

In [12]:
data

   First
0      1
1      2
2      3
3      4
4      5

In [13]:
# series is a lower level container

In [15]:
# dataframe is a higher level container

In [14]:
# dataframe is a container of any other data structure