# Pandas DataFrame convert dtypes

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [5]:
data = pd.DataFrame({
    "First" : pd.Series([1,2,3], dtype = np.dtype("int32")),
    "Second" : pd.Series(["x","y","z"], dtype = np.dtype("O")),
    "Third" : pd.Series([True, False, np.nan], dtype = np.dtype("O")),
    "Fourth" : pd.Series(["h","i",np.nan], dtype = np.dtype("O")),
    "Fifth" : pd.Series([10,np.nan,20], dtype = np.dtype("float")),
    "Sixth" : pd.Series([np.nan,100.5,200], dtype = np.dtype("float")),
})

In [6]:
data

   First Second  Third Fourth  Fifth  Sixth
0      1      x   True      h   10.0    NaN
1      2      y  False      i    NaN  100.5
2      3      z    NaN    NaN   20.0  200.0

In [7]:
print(data.to_markdown(tablefmt = "grid"))

+----+---------+----------+---------+----------+---------+---------+
|    |   First | Second   |   Third | Fourth   |   Fifth |   Sixth |
+====+=========+==========+=========+==========+=========+=========+
|  0 |       1 | x        |       1 | h        |      10 |   nan   |
+----+---------+----------+---------+----------+---------+---------+
|  1 |       2 | y        |       0 | i        |     nan |   100.5 |
+----+---------+----------+---------+----------+---------+---------+
|  2 |       3 | z        |     nan | nan      |      20 |   200   |
+----+---------+----------+---------+----------+---------+---------+

In [8]:
# now it's a dataframe

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   First   3 non-null      int32
 1   Second  3 non-null      object
 2   Third   2 non-null      object
 3   Fourth  2 non-null      object
 4   Fifth   2 non-null      float64
 5   Sixth   2 non-null      float64
dtypes: float64(2), int32(1), object(3)
memory usage: 264.0+ bytes

In [10]:
# object - Bcoz numerical is combined with non-null values

In [11]:
# convert_dtypes() - this will convert the column of best possible data types

In [12]:
data1 = data.convert_dtypes()

In [13]:
print(data1.to_markdown(tablefmt = "grid"))

+----+---------+----------+---------+----------+---------+---------+
|    |   First | Second   | Third   | Fourth   | Fifth   | Sixth   |
+====+=========+==========+=========+==========+=========+=========+
|  0 |       1 | x        | True    | h        | 10      | <NA>    |
+----+---------+----------+---------+----------+---------+---------+
|  1 |       2 | y        | False   | i        | <NA>    | 100.5   |
+----+---------+----------+---------+----------+---------+---------+
|  2 |       3 | z        | <NA>    | <NA>     | 20      | 200.0   |
+----+---------+----------+---------+----------+---------+---------+

In [14]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   First   3 non-null      Int32
 1   Second  3 non-null      string
 2   Third   2 non-null      boolean
 3   Fourth  2 non-null      string
 4   Fifth   2 non-null      Int64
 5   Sixth   2 non-null      Float64
dtypes: Float64(1), Int32(1), Int64(1), boolean(1), string(2)
memory usage: 255.0 bytes

# see now we can see the datatypes clearly using this method. This method will convert the above types to depth in detail. Eventhough one string or one boolean it will give the exact datatypes