# Pandas DataFrame insert column

In [1]:
import pandas as pd

In [2]:
data = pd.DataFrame({
    "First":[1,2],
    "Second":[3,4]
})

In [3]:
data

   First  Second
0      1       3
1      2       4

In [5]:
data.insert(2, "Third", [5,6]) # 2 is the 2nd column we are inserting

In [6]:
data

   First  Second  Third
0      1       3      5
1      2       4      6

In [7]:
data.insert(0, "First", [0,1]) # THis will be error. Bcoz we can't insert to the existing column or row

ValueError: cannot insert First, already exists

In [8]:
# To make this possible, we can use this attribute

# allow_duplicates=True

In [9]:
data.insert(0, "First", [0,1], allow_duplicates=True)

In [10]:
data

   First  First  Second  Third
0      0      1       3      5
1      1      2       4      6

In [11]:
# This will accept the same column name insertion.

In [12]:
# By default, it is False only

In [13]:
data.insert(0, "First", [0,1], allow_duplicates=False)

ValueError: cannot insert First, already exists