# Pandas DataFrame loc and iloc

In [1]:
import pandas as pd

In [3]:
data = pd.read_csv("C:/Users/91701/Desktop/Dataset/worldcities2.csv", encoding='latin-1')

In [4]:
data

,city,city_ascii,city_alt,lat,lng,country,iso2,iso3,admin_name,admin_name_ascii,admin_code,admin_type,capital,density,population,population_proper,ranking,timezone,same_name,id
0,Saint-Oblas,Saint-Oblas,NaN,45.5674,5.0447,France,FR,FRA,Auvergne-RhÃ´ne-Alpes,Auvergne-Rhone-Alpes,FR-ARA,region,NaN,129.2,NaN,NaN,4,Europe/Paris,False,1250867231
1,Louresse,Louresse,Louresse-Rochemenier,47.2394,-0.3136,France,FR,FRA,Pays de la Loire,Pays de la Loire,FR-R,region,NaN,33.8,872.0,872.0,3,Europe/Paris,False,1250827363
2,Olmet,Olmet,NaN,45.7100,3.6614,France,FR,FRA,Auvergne-RhÃ´ne-Alpes,Auvergne-Rhone-Alpes,FR-ARA,region,NaN,10.4,161.0,161.0,3,Europe/Paris,False,1250493300
3,Olmet,Olmet,NaN,44.9542,2.6108,France,FR,FRA,Auvergne-RhÃ´ne-Alpes,Auvergne-Rhone-Alpes,FR-ARA,region,NaN,71.0,NaN,NaN,4,Europe/Paris,True,1250526008
4,Gottenhouse,Gottenhouse,NaN,48.7208,7.3611,France,FR,FRA,Grand Est,Grand Est,FR-GES,region,NaN,305.6,382.0,382.0,3,Europe/Paris,False,1250641966
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59059,La Rochette,La Rochette,Rochette,45.2609,6.2881,France,FR,FRA,Auvergne-RhÃ´ne-Alpes,Auvergne-Rhone-Alpes,FR-ARA,region,NaN,55.5,NaN,NaN,4,Europe/Paris,True,1250239167
59060,La Rochette,La Rochette,NaN,45.3056,3.4747,France,FR,FRA,Auvergne-RhÃ´ne-Alpes,Auvergne-Rhone-Alpes,FR-ARA,region,NaN,14.4,NaN,NaN,4,Europe/Paris,True,1250909356
59061,Saint-Eutrope,Saint-Eutrope,NaN,45.4181,0.1114,France,FR,FRA,Nouvelle-Aquitaine,Nouvelle-Aquitaine,FR-NAQ,region,NaN,62.9,168.0,168.0,3,Europe/Paris,False,1250001345
59062,Saint-Eutrope,Saint-Eutrope,NaN,44.4535,0.5204,France,FR,FRA,Nouvelle-Aquitaine,Nouvelle-Aquitaine,FR-NAQ,region,NaN,34.2,NaN,NaN,4,Europe/Paris,True,1250000461
59063,Taillis,Taillis,NaN,48.1889,-1.2389,France,FR,FRA,Bretagne,Bretagne,FR-E,region,NaN,81.2,996.0,996.0,3,Europe/Paris,False,1250655339

In [5]:
# before comma is row and after comma is column

In [7]:
data.loc[0,:] # 0th row and all the columns

city                           Saint-Oblas
city_ascii                     Saint-Oblas
city_alt                               NaN
lat                                45.5674
lng                                 5.0447
country                             France
iso2                                    FR
iso3                                   FRA
admin_name           Auvergne-RhÃ´ne-Alpes
admin_name_ascii      Auvergne-Rhone-Alpes
admin_code                          FR-ARA
admin_type                          region
capital                                NaN
density                              129.2
population                             NaN
population_proper                      NaN
ranking                                  4
timezone                      Europe/Paris
same_name                            False
id                              1250867231
Name: 0, dtype: object

In [8]:
data.loc[[0,1,2],:] # access multiple rows

,city,city_ascii,city_alt,lat,lng,country,iso2,iso3,admin_name,admin_name_ascii,admin_code,admin_type,capital,density,population,population_proper,ranking,timezone,same_name,id
0,Saint-Oblas,Saint-Oblas,NaN,45.5674,5.0447,France,FR,FRA,Auvergne-RhÃ´ne-Alpes,Auvergne-Rhone-Alpes,FR-ARA,region,NaN,129.2,NaN,NaN,4,Europe/Paris,False,1250867231
1,Louresse,Louresse,Louresse-Rochemenier,47.2394,-0.3136,France,FR,FRA,Pays de la Loire,Pays de la Loire,FR-R,region,NaN,33.8,872.0,872.0,3,Europe/Paris,False,1250827363
2,Olmet,Olmet,NaN,45.7100,3.6614,France,FR,FRA,Auvergne-RhÃ´ne-Alpes,Auvergne-Rhone-Alpes,FR-ARA,region,NaN,10.4,161.0,161.0,3,Europe/Paris,False,1250493300

In [9]:
data.loc[0:2,:]

,city,city_ascii,city_alt,lat,lng,country,iso2,iso3,admin_name,admin_name_ascii,admin_code,admin_type,capital,density,population,population_proper,ranking,timezone,same_name,id
0,Saint-Oblas,Saint-Oblas,NaN,45.5674,5.0447,France,FR,FRA,Auvergne-RhÃ´ne-Alpes,Auvergne-Rhone-Alpes,FR-ARA,region,NaN,129.2,NaN,NaN,4,Europe/Paris,False,1250867231
1,Louresse,Louresse,Louresse-Rochemenier,47.2394,-0.3136,France,FR,FRA,Pays de la Loire,Pays de la Loire,FR-R,region,NaN,33.8,872.0,872.0,3,Europe/Paris,False,1250827363
2,Olmet,Olmet,NaN,45.7100,3.6614,France,FR,FRA,Auvergne-RhÃ´ne-Alpes,Auvergne-Rhone-Alpes,FR-ARA,region,NaN,10.4,161.0,161.0,3,Europe/Paris,False,1250493300

In [11]:
data.loc[:,:]

,city,city_ascii,city_alt,lat,lng,country,iso2,iso3,admin_name,admin_name_ascii,admin_code,admin_type,capital,density,population,population_proper,ranking,timezone,same_name,id
0,Saint-Oblas,Saint-Oblas,NaN,45.5674,5.0447,France,FR,FRA,Auvergne-RhÃ´ne-Alpes,Auvergne-Rhone-Alpes,FR-ARA,region,NaN,129.2,NaN,NaN,4,Europe/Paris,False,1250867231
1,Louresse,Louresse,Louresse-Rochemenier,47.2394,-0.3136,France,FR,FRA,Pays de la Loire,Pays de la Loire,FR-R,region,NaN,33.8,872.0,872.0,3,Europe/Paris,False,1250827363
2,Olmet,Olmet,NaN,45.7100,3.6614,France,FR,FRA,Auvergne-RhÃ´ne-Alpes,Auvergne-Rhone-Alpes,FR-ARA,region,NaN,10.4,161.0,161.0,3,Europe/Paris,False,1250493300
3,Olmet,Olmet,NaN,44.9542,2.6108,France,FR,FRA,Auvergne-RhÃ´ne-Alpes,Auvergne-Rhone-Alpes,FR-ARA,region,NaN,71.0,NaN,NaN,4,Europe/Paris,True,1250526008
4,Gottenhouse,Gottenhouse,NaN,48.7208,7.3611,France,FR,FRA,Grand Est,Grand Est,FR-GES,region,NaN,305.6,382.0,382.0,3,Europe/Paris,False,1250641966
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59059,La Rochette,La Rochette,Rochette,45.2609,6.2881,France,FR,FRA,Auvergne-RhÃ´ne-Alpes,Auvergne-Rhone-Alpes,FR-ARA,region,NaN,55.5,NaN,NaN,4,Europe/Paris,True,1250239167
59060,La Rochette,La Rochette,NaN,45.3056,3.4747,France,FR,FRA,Auvergne-RhÃ´ne-Alpes,Auvergne-Rhone-Alpes,FR-ARA,region,NaN,14.4,NaN,NaN,4,Europe/Paris,True,1250909356
59061,Saint-Eutrope,Saint-Eutrope,NaN,45.4181,0.1114,France,FR,FRA,Nouvelle-Aquitaine,Nouvelle-Aquitaine,FR-NAQ,region,NaN,62.9,168.0,168.0,3,Europe/Paris,False,1250001345
59062,Saint-Eutrope,Saint-Eutrope,NaN,44.4535,0.5204,France,FR,FRA,Nouvelle-Aquitaine,Nouvelle-Aquitaine,FR-NAQ,region,NaN,34.2,NaN,NaN,4,Europe/Paris,True,1250000461
59063,Taillis,Taillis,NaN,48.1889,-1.2389,France,FR,FRA,Bretagne,Bretagne,FR-E,region,NaN,81.2,996.0,996.0,3,Europe/Paris,False,1250655339

In [12]:
data.loc[10:15,:]

,city,city_ascii,city_alt,lat,lng,country,iso2,iso3,admin_name,admin_name_ascii,admin_code,admin_type,capital,density,population,population_proper,ranking,timezone,same_name,id
10,Housseras,Housseras,NaN,48.3108,6.7125,France,FR,FRA,Grand Est,Grand Est,FR-GES,region,NaN,24.8,486.0,486.0,3,Europe/Paris,False,1250641527
11,Charmes,Charmes,NaN,46.0753,3.2522,France,FR,FRA,Auvergne-RhÃ´ne-Alpes,Auvergne-Rhone-Alpes,FR-ARA,region,NaN,48.4,396.0,396.0,3,Europe/Paris,False,1250620861
12,La Bastide-des-Fons,La Bastide-des-Fons,La Bastide-des-Fonds,43.8326,3.2055,France,FR,FRA,Occitanie,Occitanie,FR-OCC,region,NaN,4.6,NaN,NaN,5,Europe/Paris,False,1250409294
13,Fomerey,Fomerey,NaN,48.2206,6.3392,France,FR,FRA,Grand Est,Grand Est,FR-GES,region,NaN,30.6,154.0,154.0,3,Europe/Paris,False,1250845686
14,Le Suchois,Le Suchois,Suchois,47.6231,3.4614,France,FR,FRA,Bourgogne-Franche-ComtÃ©,Bourgogne-Franche-Comte,FR-BFC,region,NaN,24.0,NaN,NaN,4,Europe/Paris,False,1250878243
15,Vandelainville,Vandelainville,NaN,49.0169,5.9764,France,FR,FRA,Grand Est,Grand Est,FR-GES,region,NaN,102.2,139.0,139.0,3,Europe/Paris,False,1250578302

In [13]:
# To get all the rows of city column

In [17]:
data.loc[:,'city']

0          Saint-Oblas
1             Louresse
2                Olmet
3                Olmet
4          Gottenhouse
             ...
59059      La Rochette
59060      La Rochette
59061    Saint-Eutrope
59062    Saint-Eutrope
59063          Taillis
Name: city, Length: 59064, dtype: object

In [18]:
# To get city and country

In [20]:
data.loc[:,['city','country']]

                city country
0        Saint-Oblas  France
1           Louresse  France
2              Olmet  France
3              Olmet  France
4        Gottenhouse  France
...              ...     ...
59059    La Rochette  France
59060    La Rochette  France
59061  Saint-Eutrope  France
59062  Saint-Eutrope  France
59063        Taillis  France

[59064 rows x 2 columns]

In [21]:
data.loc[10:15,['city','country']]

                   city country
10            Housseras  France
11              Charmes  France
12  La Bastide-des-Fons  France
13              Fomerey  France
14           Le Suchois  France
15       Vandelainville  France

# iloc

In [22]:
data.iloc[0:10,:]

,city,city_ascii,city_alt,lat,lng,country,iso2,iso3,admin_name,admin_name_ascii,admin_code,admin_type,capital,density,population,population_proper,ranking,timezone,same_name,id
0,Saint-Oblas,Saint-Oblas,NaN,45.5674,5.0447,France,FR,FRA,Auvergne-RhÃ´ne-Alpes,Auvergne-Rhone-Alpes,FR-ARA,region,NaN,129.2,NaN,NaN,4,Europe/Paris,False,1250867231
1,Louresse,Louresse,Louresse-Rochemenier,47.2394,-0.3136,France,FR,FRA,Pays de la Loire,Pays de la Loire,FR-R,region,NaN,33.8,872.0,872.0,3,Europe/Paris,False,1250827363
2,Olmet,Olmet,NaN,45.7100,3.6614,France,FR,FRA,Auvergne-RhÃ´ne-Alpes,Auvergne-Rhone-Alpes,FR-ARA,region,NaN,10.4,161.0,161.0,3,Europe/Paris,False,1250493300
3,Olmet,Olmet,NaN,44.9542,2.6108,France,FR,FRA,Auvergne-RhÃ´ne-Alpes,Auvergne-Rhone-Alpes,FR-ARA,region,NaN,71.0,NaN,NaN,4,Europe/Paris,True,1250526008
4,Gottenhouse,Gottenhouse,NaN,48.7208,7.3611,France,FR,FRA,Grand Est,Grand Est,FR-GES,region,NaN,305.6,382.0,382.0,3,Europe/Paris,False,1250641966
5,Bergues,Bergues,NaN,50.9686,2.4342,France,FR,FRA,Hauts-de-France,Hauts-de-France,FR-HDF,region,NaN,2755.3,3637.0,3637.0,2,Europe/Paris,False,1250576871
6,Villelongue,Villelongue,NaN,45.8647,2.8817,France,FR,FRA,Auvergne-RhÃ´ne-Alpes,Auvergne-Rhone-Alpes,FR-ARA,region,NaN,33.0,NaN,NaN,4,Europe/Paris,False,1250958848
7,Saint-Martin-dâArrossa,Saint-Martin-d'Arrossa,Saint-Martin dâArrosa|Saint-Martin,43.2381,-1.3133,France,FR,FRA,Nouvelle-Aquitaine,Nouvelle-Aquitaine,FR-NAQ,region,NaN,29.2,538.0,538.0,3,Europe/Paris,False,1250563131
8,Marre,Marre,NaN,49.2111,5.3019,France,FR,FRA,Grand Est,Grand Est,FR-GES,region,NaN,16.0,163.0,163.0,3,Europe/Paris,False,1250424575
9,Neuve-Maison,Neuve-Maison,NaN,49.9303,4.0325,France,FR,FRA,Hauts-de-France,Hauts-de-France,FR-HDF,region,NaN,72.9,614.0,614.0,3,Europe/Paris,False,1250194873

In [23]:
data.loc[0:10,:]

,city,city_ascii,city_alt,lat,lng,country,iso2,iso3,admin_name,admin_name_ascii,admin_code,admin_type,capital,density,population,population_proper,ranking,timezone,same_name,id
0,Saint-Oblas,Saint-Oblas,NaN,45.5674,5.0447,France,FR,FRA,Auvergne-RhÃ´ne-Alpes,Auvergne-Rhone-Alpes,FR-ARA,region,NaN,129.2,NaN,NaN,4,Europe/Paris,False,1250867231
1,Louresse,Louresse,Louresse-Rochemenier,47.2394,-0.3136,France,FR,FRA,Pays de la Loire,Pays de la Loire,FR-R,region,NaN,33.8,872.0,872.0,3,Europe/Paris,False,1250827363
2,Olmet,Olmet,NaN,45.7100,3.6614,France,FR,FRA,Auvergne-RhÃ´ne-Alpes,Auvergne-Rhone-Alpes,FR-ARA,region,NaN,10.4,161.0,161.0,3,Europe/Paris,False,1250493300
3,Olmet,Olmet,NaN,44.9542,2.6108,France,FR,FRA,Auvergne-RhÃ´ne-Alpes,Auvergne-Rhone-Alpes,FR-ARA,region,NaN,71.0,NaN,NaN,4,Europe/Paris,True,1250526008
4,Gottenhouse,Gottenhouse,NaN,48.7208,7.3611,France,FR,FRA,Grand Est,Grand Est,FR-GES,region,NaN,305.6,382.0,382.0,3,Europe/Paris,False,1250641966
5,Bergues,Bergues,NaN,50.9686,2.4342,France,FR,FRA,Hauts-de-France,Hauts-de-France,FR-HDF,region,NaN,2755.3,3637.0,3637.0,2,Europe/Paris,False,1250576871
6,Villelongue,Villelongue,NaN,45.8647,2.8817,France,FR,FRA,Auvergne-RhÃ´ne-Alpes,Auvergne-Rhone-Alpes,FR-ARA,region,NaN,33.0,NaN,NaN,4,Europe/Paris,False,1250958848
7,Saint-Martin-dâArrossa,Saint-Martin-d'Arrossa,Saint-Martin dâArrosa|Saint-Martin,43.2381,-1.3133,France,FR,FRA,Nouvelle-Aquitaine,Nouvelle-Aquitaine,FR-NAQ,region,NaN,29.2,538.0,538.0,3,Europe/Paris,False,1250563131
8,Marre,Marre,NaN,49.2111,5.3019,France,FR,FRA,Grand Est,Grand Est,FR-GES,region,NaN,16.0,163.0,163.0,3,Europe/Paris,False,1250424575
9,Neuve-Maison,Neuve-Maison,NaN,49.9303,4.0325,France,FR,FRA,Hauts-de-France,Hauts-de-France,FR-HDF,region,NaN,72.9,614.0,614.0,3,Europe/Paris,False,1250194873
10,Housseras,Housseras,NaN,48.3108,6.7125,France,FR,FRA,Grand Est,Grand Est,FR-GES,region,NaN,24.8,486.0,486.0,3,Europe/Paris,False,1250641527

# There is a difference between iloc and loc. iloc will take the range of values as n-1.

In [24]:
data.iloc[0:10,0]

0                 Saint-Oblas
1                    Louresse
2                       Olmet
3                       Olmet
4                 Gottenhouse
5                     Bergues
6                 Villelongue
7    Saint-Martin-dâArrossa
8                       Marre
9                Neuve-Maison
Name: city, dtype: object

In [27]:
data.loc[0:10,0]

KeyError: 0

In pandas, loc and iloc are two important methods used for accessing data in a DataFrame. They are primarily used for selecting rows and columns from a DataFrame, but they differ in how they interpret the input arguments.

loc (label-based indexing):

loc is primarily label-based indexing, which means you specify the rows and columns using labels (index and column names).
It includes the endpoint in the range. For example, df.loc[1:3] will include rows with indices 1, 2, and 3.
You can also use boolean arrays or callable functions to filter data.

In [29]:
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]}, index=['x', 'y', 'z'])

In [31]:
df

   A  B
x  1  4
y  2  5
z  3  6

In [30]:
print(df.loc['x', 'A'])  # Access a specific element
print(df.loc['x':'y', 'A'])  # Access a range of rows and a specific column

1
x    1
y    2
Name: A, dtype: int64

iloc (integer-location based indexing):

iloc is primarily integer-location based indexing, which means you specify the rows and columns using integer indices.
It does not include the endpoint in the range. For example, df.iloc[1:3] will include rows with indices 1 and 2, but not 3.
You can use integer arrays, slices, or boolean arrays to filter data.

In [32]:
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]}, index=['x', 'y', 'z'])

In [33]:
df

   A  B
x  1  4
y  2  5
z  3  6

In [34]:
df.iloc[0,0]

1

In [35]:
df.iloc[0:2,0]

x    1
y    2
Name: A, dtype: int64