# data.info()

In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.DataFrame({"First":np.random.randint(12,size = 1000),"Second":np.random.randint(15,size = 1000)})

In [4]:
data

     First  Second
0        3       7
1        5       5
2        1       6
3        6       8
4       11      11
..     ...     ...
995      8       7
996     11       7
997      0      11
998      5       1
999      0       9

[1000 rows x 2 columns]

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   First   1000 non-null   int64
 1   Second  1000 non-null   int64
dtypes: int64(2)
memory usage: 15.8 KB

It talks about the class 
Then the index range : 1000 entries
Normal values and memory usage
    
Likewise, it gives complete information about the dataframe.

In [6]:
data.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   First   1000 non-null   int64
 1   Second  1000 non-null   int64
dtypes: int64(2)
memory usage: 15.8 KB

# This 'deep' will give the deep introsection of the memory. It will be used in real data set. memory_usage will give the different allocation of memory over here.

In [7]:
data.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   First   1000 non-null   int64
 1   Second  1000 non-null   int64
dtypes: int64(2)
memory usage: 15.8 KB

In [8]:
# This gives the complete information of the dataframe.

In [9]:
data.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Columns: 2 entries, First to Second
dtypes: int64(2)
memory usage: 15.8 KB

In [10]:
# See now it will never give deep info of the dataframe

In [11]:
data.memory_usage()

Index      128
First     8000
Second    8000
dtype: int64

In [12]:
# This will give the separate info of the dataframe.

If we don't want index means,

In [13]:
data.memory_usage(index = False)

First     8000
Second    8000
dtype: int64

In [14]:
data.memory_usage(index = False, deep = True)

First     8000
Second    8000
dtype: int64